@import './_reset.sass'
@import './_colors.sass'
@font-face
  font-family: 'Augusta'
  src: url(../fonts/Augusta.ttf)

html
  background: $body-bg-color
  overflow-x: hidden
  font-family: sans-serif

.count
  width: 100vw
  background: $chromakey-color
  padding: 20px 0

  &__text
    font-size: 5.5em
    color: $count-text-color
    font-weight: bold
    letter-spacing: 2px
    font-family: Augusta
    text-shadow: $count-text-stroke

  &__panel
    max-width: 400px
    position: relative
    margin: 40px 0 0 10px

  &__input
    margin: 0
    outline: 0
    padding: 0
    height: 44px
    font-size: 18px
    text-indent: 5px
    border-radius: 4px
    background: $input-bgcolor   
    border: 2px solid $input-border-color
    width: 100%
  &__btn
    height: 48px
    color: white
    outline: none
    font-size: 20px
    margin: -2px 0 1px 0
    border-radius: 4px
    font-weight: normal
    vertical-align: middle
    color: $btn-text-color
    background: $btn-bg-color
    transition: 0.15s ease-in
    width: 100%
    border: 2px solid $btn-border-color
    padding: 0
    &:hover
      cursor: pointer
      color: $btn-hover-text-color
      border: 2px solid $btn-hover-border-color
      background: $btn-hover-bg-color
.panel
  
  &__settings
    margin-top: 5px
    max-width: 395px
    margin-left: 10px
    .count__input
      width: 100%
  &__description
    text-align: left
    font-size: 12px
    margin-bottom: 2px